* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: "Roboto Slab";
}

.general-container {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  background-image: url("https://wallpaper.dog/large/17058671.jpg");
  background-size: cover;
  overflow: scroll;
  -webkit-box-shadow: inset 0px 0px 50px 50px rgba(0, 0, 0, 0.76);
  box-shadow: inset 0px 0px 50px 50px rgba(0, 0, 0, 0.76);
}

.general-container .title-container {
  padding: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
  background-color: rgba(48, 130, 48, 0.64);
  border-radius: 45%;
  -webkit-transition-property: border-radius, background-color, -webkit-transform;
  transition-property: border-radius, background-color, -webkit-transform;
  transition-property: border-radius, background-color, transform;
  transition-property: border-radius, background-color, transform, -webkit-transform;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.general-container .title-container:hover {
  border-radius: 100%;
  background-color: rgba(48, 130, 48, 0);
}

.general-container .title-container:hover h1 {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.general-container .title-container h1 {
  width: 100%;
  text-align: center;
  font-size: 4vw;
  font-weight: 400;
  color: #00b0c8;
  text-shadow: .5px .5px 0 #7af162, .5px -.5px 0 #7af162, -.5px .5px 0 #7af162, -.5px -.5px 0 #7af162, .5px 0px 0 #7af162, 0px .5px 0 #7af162, -.5px 0px 0 #7af162, 0px -.5px 0 #7af162;
}

.general-container .text-input {
  margin: 4vh;
  padding: 1vh 0vh;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 25vw;
  font-size: 100%;
  font-weight: 400;
  background-color: rgba(110, 173, 14, 0.7);
  color: black;
}

.general-container .text-input::-webkit-input-placeholder {
  color: #eaecec;
  opacity: 1;
  text-align: center;
}

.general-container .text-input:-ms-input-placeholder {
  color: #eaecec;
  opacity: 1;
  text-align: center;
}

.general-container .text-input::-ms-input-placeholder {
  color: #eaecec;
  opacity: 1;
  text-align: center;
}

.general-container .text-input::placeholder {
  color: #eaecec;
  opacity: 1;
  text-align: center;
}

.general-container .text-input:focus {
  background-color: #6ead0e;
}

.general-container .search-btn {
  color: darkgreen;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-color: rgba(110, 173, 14, 0.7);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 3vh;
  padding: 1vw;
  width: 50%;
}

.general-container .search-btn:hover, .general-container .search-btn:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.general-container .search-btn darkgreen {
  --color: ;
  --hover: #00644b;
}

.general-container .search-btn:hover, .general-container .search-btn:focus {
  border-color: var(--hover);
  color: greenyellow;
  background-color: rgba(110, 173, 14, 0.9);
}

.general-container .descriptive-text {
  width: 50%;
  text-align: center;
  line-height: 1;
  padding: 1vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #00b0c8;
  border: 1px solid #00b0c8;
  border-bottom: 0px;
  outline: solid .5px yellowgreen;
  outline-offset: -1px;
}

.general-container .info-display {
  width: 50%;
  text-align: center;
  line-height: 1;
  padding: 1vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
  outline: solid .5px #00b0c8;
  outline-offset: -1px;
}

.general-container .pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 40vh;
  padding: 10%;
}

.general-container .pic-container .char-image {
  background-color: darkmagenta;
  height: 100%;
  visibility: hidden;
  border: dashed 3px white;
  border-radius: 50%;
  -webkit-transition-property: height, -webkit-box-shadow;
  transition-property: height, -webkit-box-shadow;
  transition-property: height, box-shadow;
  transition-property: height, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.general-container .pic-container .char-image:hover {
  height: 130%;
  -webkit-box-shadow: 0px 0px 50px 50px #000000;
  box-shadow: 0px 0px 50px 50px #000000;
}
/*# sourceMappingURL=style.css.map */